﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<button><a href="@Url.Action("Create","Student")">New</a></button>

<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Action
        </th>
    </tr>
    @foreach (var item in ViewBag.StudentList)
    {
        <tr>
            <td>
                @item.StudentName
            </td>
            <td>
              <a href="@Url.Action("Edit","Student",new {@StudentId=item.StudentId })">Edit</a>
            </td>
        </tr>
    }

</table>

